* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    box-sizing: border-box;
}

h1 {
    font-size: 35px;
}

i {
    display: none;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    gap: 35px;
    font-size: 22px;
}

.Login{
    display: block;

}

button {
    border-radius: 20px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    background: linear-gradient(45deg, blue, rgba(127, 197, 216, 0.703));
    font-size: 20px;
}

section {
    margin-top: 200px;
    display: flex;
    gap: 85px;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    width: 450px;
    flex-flow: column;
    gap: 22px;

}

p {
    font-size: 20px;
}

img {
    border-radius: 22px;
    max-width: 450px;
}

@media screen and (max-width:720px) {
   
    ul{
        display: none;
    }
    i{
        display: block;
        font-size: 30px;
    }
    .Login{
        display: none;
    }

    section{
      display: flex;
      flex-flow: column;
      flex-flow: column-reverse;
    }

    


}